<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ready Bootstrap Dashboard</title>
    <link rel="stylesheet" href="~/Assets/assets/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">*@
    <link rel="stylesheet" href="~/Assets/assets/css/ready.css">
    <link rel="stylesheet" href="~/Assets/assets/css/demo.css">
    <style>
        .allhide {
            display: none;
        }

        .popupcontent {
            position: absolute;
            border: 1px solid #CCC;
            background-color: #F9F9F9;
            border: 1px solid #333;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="popupcontent">
            <div class="hd">标题栏</div>
            @*<div class="bd">
                    <p>弹出内容</p>
                    <p>弹出内容</p>
                    <p>弹出内容</p>
                </div>*@
        </div>
        @*顶部*@
        <div class="main-header">
            <div class="logo-header">
                <a href="" class="logo">
                    工厂监测
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                        <div class="input-group">
                            <input type="text" placeholder="输入id或名称" class="form-control" id="search_input">
                            <div class="input-group-append" onclick="search()">
                                <span class="input-group-text">
                                    <i class="la la-search search-icon"></i>
                                </span>
                            </div>
                        </div>
                    </form>
              
                </div>
            </nav>
        </div>
        @*侧面*@
        <div class="sidebar">
            <div class="scrollbar-inner sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="~/Assets/assets/img/profile.jpg">
                    </div>
                    <div class="info">
                        <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span id="username">
                                金徽
                                <span class="user-level" id="thisul">管理员</span>
                                <span class="caret"></span>
                            </span>
                        </a>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <ul class="nav">
                    <li id="farm_list_bt" class="nav-item active" onclick="test(this)">
                        <a>
                            <i class="la la-table"></i>
                            <p>车间信息</p>
                            <span class="badge badge-count" id="farmsum"></span>
                        </a>
                    </li>
                    <li id="machine_list_bt" onclick="test(this)" class="nav-item">
                        <a>
                            <i class="la la-list"></i>
                            <p>机器信息</p>
                            <span class="badge badge-count" id="machinesum"></span>
                        </a>
                    </li>

                    <li id="error_list_bt" onclick="test(this)" class="nav-item">
                        <a>
                            <i class="la la-warning"></i>
                            <p>故障列表</p>
                            <span class="badge badge-danger" id="errorsum"></span>
                        </a>
                    </li>
                    <li id="user_list_bt" onclick="test(this)" class="nav-item">
                        <a>
                            <i class="la la-user"></i>
                            <p>文件列表</p>
                        </a>
                    </li>
                    <li class="nav-item update-pro">
                        <button data-toggle="modal" data-target="#modalUpdate" onclick="logout()">
                            <i class="la la-hand-pointer-o"></i>
                            <p>注销</p>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    @*<h4 class="page-title">Dashboard</h4>*@
                    <div id="farmActivity" class="row">

                        <div class="col-md-3">
                            <table class="table table-head-bg-success table-striped table-hover" id="farmtable">
                                <thead>
                                    <tr>
                                        <th scope="col">车间id</th>
                                        <th scope="col">车间名</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                    <div id="machineActivity" class="row row-card-no-pd">
                        <div class="col-md-3">
                            <table class="table table-head-bg-success table-striped table-hover" id="machinetable">
                                <thead>
                                    <tr>
                                        <th scope="col">机器id</th>
                                        <th scope="col">机器名</th>
                                        <th scope="col">机器状态</th>
                                    </tr>
                                </thead>
                                <tbody id="machinetablebody"></tbody>
                            </table>
                        </div>

                    </div>
                    <div id="userActivity" class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">文件列表</h4>
                                    <div>
                                        <input  type="text" style="display:none" id="fileuserid" />
                                    </div>
                                    <div>
                                        <input name="ImageFile" type="file" id="uploadfile" />
                                    </div>
                                    <div>
                                        <input type="button" value="上传文件" onclick="uploadfile()" />
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="table-full-width">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>文件名</th>
                                                    <th>时间</th>
                                                    <th>下载</th>
                                                </tr>
                                            </thead>
                                            <tbody id="filetablebody">
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="errormachineActivity" class="row">
                        <div class="col-md-3">
                            <table class="table table-head-bg-success table-striped table-hover" id="errormachinetable">
                                <thead>
                                    <tr>
                                        <th scope="col">机器id</th>
                                        <th scope="col">机器名</th>
                                        <th scope="col">机器状态</th>
                                    </tr>
                                </thead>
                                <tbody id="errormachinetablebody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Currently the pro version of the <b>工厂监测</b> Bootstrap is in progress development</p>
                        <p>
                            <b>We'll let you know when it's done</b>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Assets/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="~/Assets/assets/js/core/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Assets/assets/js/plugin/chartist/chartist.min.js"></script>
        <script src="~/Assets/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
        <script src="~/Assets/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="~/Assets/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
        <script src="~/Assets/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/Assets/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
        <script src="~/Assets/assets/js/plugin/chart-circle/circles.min.js"></script>
        <script src="~/Assets/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="~/Assets/assets/js/ready.min.js"></script>
        <script src="~/Assets/assets/js/demo.js"></script>
        <script type="text/javascript">
            var farms = [];
            var errormachines = [];
            var toggle_sidebar = false,
                toggle_topbar = false,
                nav_open = 0,
                topbar_open = 0;

            window.onload = function () {

                var username = getQueryString('username');
                document.getElementById('username').innerText = username;
                var level = getQueryString('level');
                if (level == '1') {
                    level = "管理员";
                } else {
                    level = "普通用户";
                }
                var userinfo = username + '<span class="user-level" id = "thisul">' + level + '</span><span class="caret"></span>'
                document.getElementById('username').innerHTML = userinfo;

                showActivity('farmActivity');

                $.ajax({
                    type: 'get',
                    url: 'http://www.820803.xyz:2001/api/Machine/GetFarms',
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        farms = result;
                        document.getElementById("farmsum").innerText = result.length;
                        initfarmtable(farms);
                    }
                });



                setInterval(function () {
                    checkError();
                }, 3000);


            }

            var bt_idlist = ['farm_list_bt', 'machine_list_bt', 'error_list_bt', 'user_list_bt'];
            var activity_ids = ['farmActivity', 'machineActivity', 'userActivity', 'errormachineActivity'];
            var now_activity = "farmActivity";

            //点击左侧菜单
            function test(obj) {
                for (var id in bt_idlist) {
                    if (bt_idlist[id] == obj.id) {
                        document.getElementById(bt_idlist[id]).className = "nav-item active";
                        switch (obj.id) {
                            case 'farm_list_bt':
                                showActivity('farmActivity');
                                $.ajax({
                                    type: 'get',
                                    url: 'http://www.820803.xyz:2001/api/Machine/GetFarms',
                                    dataType: "json",
                                    async: false,
                                    success: function (result) {
                                        farms = result;
                                        document.getElementById("farmsum").innerText = result.length;
                                        initfarmtable(farms);
                                    }
                                });
                                break;
                            case 'machine_list_bt':
                                showActivity('machineActivity');
                                transToFarm(0);
                                break;
                            case 'user_list_bt':
                                showActivity('userActivity');
                                getFileShow();
                                break;
                            case 'error_list_bt':
                                showActivity('errormachineActivity');
                                GetShowErrors("");
                                break;
                            default:
                                break;
                        }
                    } else {
                        document.getElementById(bt_idlist[id]).className = "nav-item";
                    }
                }
            }
            //改变左边按钮聚焦
            function changebt(btid) {
                for (var id in bt_idlist) {
                    if (bt_idlist[id] == btid) {
                        document.getElementById(bt_idlist[id]).className = "nav-item active";
                        switch (btid) {
                            case 'farm_list_bt':
                                showActivity('farmActivity');
                                break;
                            case 'machine_list_bt':
                                showActivity('machineActivity');
                                break;
                            case 'user_list_bt':
                                showActivity('userActivity');
                                break;
                            default:
                                break;
                        }
                    } else {
                        document.getElementById(bt_idlist[id]).className = "nav-item";
                    }
                }
            }
            //显示的页面
            function showActivity(activityid) {
                for (var id in activity_ids) {
                    if (activity_ids[id] == activityid) {
                        if (activityid == 'machineActivity') {
                            document.getElementById(activity_ids[id]).className = "row row-card-no-pd";
                        } else {
                            document.getElementById(activity_ids[id]).className = "row";
                        }
                    } else {
                        document.getElementById(activity_ids[id]).className = 'allhide';
                    }
                }
                now_activity = activityid;
                $toggle = $('.sidenav-toggler');
                $('html').removeClass('nav_open');
                $toggle.removeClass('toggled');
                nav_open = 0;
            }
            //加载车间table
            function initfarmtable(trs) {
                $("#farmtable tbody").html("");
                for (var i = 0; i < trs.length; i++) {
                    var addhtml = "<tr onclick='transToFarm(" + trs[i].id + ")'><td>" + trs[i].id + "</td><td>" + trs[i].name + "</td></tr>";
                    $("#farmtable").append(addhtml);
                }
            }
            //加载机器table
            function initmachinetable(trs, errors) {
                $("#machinetable tbody").html("");
                for (var i = 0; i < trs.length; i++) {

                    var status = "运行中";
                    if (IsExsitInList(errors, trs[i])) {
                        status = "故障";
                    }
                    var addhtml = "<tr id = 'machine-" + trs[i].id + "' onclick = 'showStatus(this)'><td>" + trs[i].id + "</td><td>" + trs[i].name + "</td><td>" + status + "</td></tr>";
                    $("#machinetable").append(addhtml);
                }
            }
            //加载错误机器
            function initErrors(trs) {
                $("#errormachinetable tbody").html("");
                for (var i = 0; i < trs.length; i++) {
                    var addhtml = "<tr id = 'machine-" + trs[i].id + "' onclick = 'showStatus(this)'><td>" + trs[i].id + "</td><td>" + trs[i].name + "</td><td>" + status + "</td></tr>";
                    $("#errormachinetable").append(addhtml);
                }
            }
            //加载文件列表
            function initFiles(files) {
                var filetbody = document.getElementById('filetablebody');
                var content = "";
                for (var i = 0; i < files.length; i++) {
                    content += '<tr><td>' + files[i].name + '</td><td>' + files[i].date.substr(0,10) + '</td><td class="td - actions text - right"><div class="form - button - action"><button id = "' + files[i].url + '" onclick=download(this) type="button" data-toggle="tooltip" title="Edit Task" class="btn btn-link <btn-simple-primary"><i class="la la-download"></i></button></div></td></tr>'
                }
                filetbody.innerHTML = content;
            }

            function getFileShow() {
                var userid = getQueryString('userid');
                document.getElementById('fileuserid').value = userid;
                $.ajax({
                    type: 'get',
                    url: 'http://www.820803.xyz:2001/api/File/getAllFilesByUser?userid=' + userid,
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        var files = result;
                        initFiles(files);
                    }
                });
            }

            function download(obj) {
                window.open(obj.id);
            }

            function uploadfile() {
                var userid = getQueryString('userid');
                var file = document.getElementById('uploadfile').files[0];
                var form = new FormData();
                form.append("userid", userid);
                form.append("file", file);
                $.ajax({
                    url: "http://www.mzhdemo.xyz:2001/api/File/PostFile",
                    type: "post",
                    data: form,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        if (data == 0) {
                            shownotify("上传失败", file.name);
                        } else if (data == 1) {
                            shownotify("上传成功", file.name);
                            document.getElementById('uploadfile').value = "";
                            getFileShow();
                        } else if (data == -1){
                            shownotify("不允许上传该类型文件", file.name);
                        }
                    }
                });
            }

            //点击机器列表中的机器
            function showStatus(obj) {
                var parent = obj.parentElement;
                var trList = parent.children;
                for (var i = 0; i < trList.length; i++) {

                    if (trList[i].innerHTML.indexOf("form-button-action") != -1) {
                        $(trList[i]).remove();
                        i--;
                    }
                }


                var machineid = obj.id.replace('machine-', '');
                $.ajax({
                    type: 'get',
                    url: 'http://www.820803.xyz:2001/api/Machine/GetStatuses?machineid=' + machineid + '&type=0',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        var appendhtml = "";
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].MachineType == 0) {
                                var runingstr = result[i].isRuning == 0 ? '停止' : '运行中';
                                appendhtml = appendhtml + "<tr id = " + result[i].id + " style='height:10px'><td>" + result[i].attr_name + "</td><td>" + runingstr + "</td><td><div class='form-button-action'><input id='status-" + result[i].id + "' type='text' style='width:80px;width:30px' /><button onclick=changeStatus(this) type='button' data-toggle='tooltip' title='Edit Task' class=''><i class='la la-edit'></i></button></div></td></tr>"
                            } else {
                                appendhtml = appendhtml + "<tr id = " + result[i].id + " style='height:10px'><td>" + result[i].attr_name + "</td><td>" + result[i].attr_value + "</td><td><input id='status-" + result[i].id + "' type='text' style='width:80px;width:30px' /><div class='form-button-action'><button onclick=changeStatus(this) type='button' data-toggle='tooltip' title='Edit Task' class=''><i class='la la-edit'></i></button></div></td></tr>"
                            }

                        }
                        $(obj).after(appendhtml);
                    }
                });
            }
            //跳转并加载机器列表
            function transToFarm(farmid) {
                changebt('machine_list_bt');

                $.ajax({
                    type: 'get',
                    url: 'http://www.820803.xyz:2001/api/Machine/GetErrorMachine',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        errormachines = result;
                    }
                });
                if (farmid == 0) {
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/GetMachines?type=0',
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            var ms = result;
                            initmachinetable(ms, errormachines);
                        }
                    });
                } else {
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/GetMachinesByFarm?farmid=' + farmid,
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            var ms = result;
                            initmachinetable(ms, errormachines);
                        }
                    });
                }
            }
            //获取错误机器并加载
            function GetShowErrors(type) {
                if (type == "") {
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/GetErrorMachine',
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            initErrors(result);
                        }
                    });
                } else {
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/SearcErrorhMachines?key=' + type,
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            initErrors(result);
                            $('html').removeClass('topbar_open');
                            $topbar.removeClass('toggled');
                            topbar_open = 0;
                            document.getElementById("search_input").value = "";
                        }
                    });
                }
            }
            //changeStatus
            function changeStatus(obj) {
                var tditem = obj.parentElement.parentElement.parentElement;
                var id = tditem.id;
                var data = document.getElementById("status-" + id).value;
                if (data == "" || data == null) {
                    shownotify("警告", "数据不能为空");
                } else {
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/UpdateStatus?data=' + data + '&statusid=' + id,
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            if (success = 'success') {
                                shownotify("成功", "修改成功");
                                document.getElementById("status-" + id).value = "";
                            } else {
                                shownotify("失败", "修改失败");
                            }
                        }
                    });
                }
                if (now_activity == 'errormachineActivity') {
                    GetShowErrors("");
                } else if (now_activity == 'machineActivity') {
                    transToFarm(0);
                }
            }

            //判断list中是否有指定元素
            function IsExsitInList(list, item) {
                var isexist = false;
                for (var i = 0; i < list.length; i++) {
                    if (list[i].id == item.id) {
                        isexist = true;
                        break;
                    }
                }
                return isexist;
            }

            //检查错误
            function checkError() {
                //alert("test");
                $.ajax({
                    type: 'get',
                    url: 'http://www.820803.xyz:2001/api/Machine/GetErrorMachine',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        var errorsum = 0;
                        for (var i = 0; i < result.length; i++) {
                            if (!IsExsitInList(errormachines, result[i])) {
                                errormachines[errormachines.length] = result[i];
                                errorsum = errorsum + 1;
                            }
                        }
                        var cnd = 0;
                        for (var i = 0; i < errormachines.length; i++) {
                            if (!IsExsitInList(result, errormachines[i])) {
                                errormachines.splice(i, 1);
                                i = i - 1;
                            }
                        }

                        if (errorsum > 0) {
                            var erroresult = "新故障:" + errorsum + "台";
                            shownotify("机器故障警告", erroresult);
                        }
                        document.getElementById("errorsum").innerText = errormachines.length;
                    }
                });
            }
            //通知
            function shownotify(title, message) {
                $.notify({
                    icon: 'la la-bell',
                    title: title,
                    message: message,
                }, {
                        type: 'success',
                        placement: {
                            from: "bottom",
                            align: "right"
                        },
                        time: 1000,
                    });
            }

            function shownotify2(title, message) {
                $.notify({
                    icon: 'la la-bell',
                    title: title,
                    message: message,
                }, {
                        type: 'fail',
                        placement: {
                            from: "bottom",
                            align: "right"
                        },
                        time: 1000,
                    });
            }
            //搜索
            function search() {
                var key = document.getElementById("search_input").value;
                if (now_activity == "farmActivity") {
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/SearchFarms?key=' + key,
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            initfarmtable(result);
                            $('html').removeClass('topbar_open');
                            $topbar.removeClass('toggled');
                            topbar_open = 0;
                            document.getElementById("search_input").value = "";
                        }
                    });
                } else if (now_activity == "machineActivity") {
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/GetErrorMachine',
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            errormachines = result;
                        }
                    });
                    $.ajax({
                        type: 'get',
                        url: 'http://www.820803.xyz:2001/api/Machine/SearchMachines?key=' + key,
                        dataType: 'json',
                        async: false,
                        success: function (result) {
                            initmachinetable(result, errormachines);
                            $('html').removeClass('topbar_open');
                            $topbar.removeClass('toggled');
                            topbar_open = 0;
                            document.getElementById("search_input").value = "";
                        }
                    });
                } else if (now_activity == "errormachineActivity") {
                    GetShowErrors(key);
                } else {
                    shownotify("提示", "当前页面无法搜索")
                }

            }

            //logout
            function logout() {
                window.location.href = "http://www.820803.xyz:2002"
            }

            //ready
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            jQuery(document).ready(function () {
                jQuery('.scrollbar-inner').scrollbar();
            });

            $(document).ready(function () {
                if (!toggle_sidebar) {
                    $toggle = $('.sidenav-toggler');

                    $toggle.click(function () {
                        if (nav_open == 1) {
                            $('html').removeClass('nav_open');
                            $toggle.removeClass('toggled');
                            nav_open = 0;
                        } else {
                            $('html').addClass('nav_open');
                            $toggle.addClass('toggled');
                            nav_open = 1;
                        }
                    });
                    toggle_sidebar = true;
                }
                if (!toggle_topbar) {
                    $topbar = $('.topbar-toggler');

                    $topbar.click(function () {
                        if (topbar_open == 1) {
                            $('html').removeClass('topbar_open');
                            $topbar.removeClass('toggled');
                            topbar_open = 0;
                        } else {
                            $('html').addClass('topbar_open');
                            $topbar.addClass('toggled');
                            topbar_open = 1;
                        }
                    });
                    toggle_topbar = true;
                }

                //select all
                $('[data-select="checkbox"]').change(function () {
                    $target = $(this).attr('data-target');
                    $($target).prop('checked', $(this).prop("checked"));
                })

            });
            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
        </script>

        
    </body>


</html>