<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">&raquo;</a></p>
    <input class="form-control" id="input" style="height:40px;width:100px" />
    <button class="form-control" onclick="upload()" style="height:40px;width:100px">toOC</button>
    <form id="form1" method="post"
          enctype="multipart/form-data" action="http://www.mzhdemo.xyz:2001/api/File/PostFile">
        <div>
            <label for="Name">Name</label>
        </div>
        <div>
            <input name="userid" type="text" />
        </div>
        <div>
            <input name="ImageFile" type="file" id="me" />
        </div>
        <div>
            <input type="submit" value="submit" />
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">


    function toOc() {
        window.webkit.messageHandlers.jsToOc.postMessage("test", "");
    }

    function ocjs(action, params) {
        document.getElementById("input").value = action + "?" + params;
    }

    function test() {
        $.ajax({
            type: 'get',
            url: 'http://localhost:55824/api/Machine/UpdateStatus',
            data: { data: 100, statusid: 3 },
            success: function (result) {
                alert(result);
            }
        });
    }

    function upload() {
        var file_obj = document.getElementById('files').files[0];
        var fd = new FormData();
        fd.append('name', 'filename')
        fd.append('stream', file_obj);
        $.ajax({
            type: 'post',
            url: 'http://localhost:55824/api/File/UploadFile',
            data: fd,
            success: function (result) {
                alert(result);
            }
        });
    }
</script>
